#login-wrapper{
	margin-top: 50px;
	background-color:#fff;
	width: 360px;
    padding-top: 20px;
	padding-bottom:20px;
	border:solid 1px #c6c6c6;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}

.login-help
{
    width: 360px;
    font-size: 12px;
}

h1.logo-title
{
    background: transparent url(../images/logo-large.png) no-repeat scroll top center;
    text-indent: -9999px;
    height: 63px;
    width: 200px;
    line-height: 63px;
    margin-top: 0;
}

.page-header
{
    border-bottom: none;
}

body {
    background: #eee url(../img/retina_wood.png) scroll 0 0;
    background: #eee url(../images/bg-login.jpg) repreat-x scroll 0 0;
    background: #eee url(../img/greyzz.png) scroll 0 0;
    background: #eee url(../img/cream_pixels/cream_pixels.png) scroll 0 0;
}

body.production.dashboard .tab-pane .section
{
    background: white url("../img/CBS FLAME VERY IMPORTANT FLAME MUST HAVE.png") no-repeat 50% 50%;
}

body.admin {
    padding-top: 30px;
}

body.account {
    /*
    background: #fff;
    */
}

body.account h1.logo-title {
    background-position: top left;
    width: 100%;
}

.signup-form {
	background-color:#fff;
	-webkit-border-radius: 15x;
	-moz-border-radius: 15px;
	border:solid 1px #ddd;
    border-top: none;
    border-bottom-left-radius: 9px;
    border-bottom-right-radius: 9px;
	padding:10px 40px;
}

.signup-section
{
    margin:0;
}

.signup-section .register,
.signup-section .intro
{
    margin-top: 40px;
    margin-bottom: 25px;
}

.form-signin {
	max-width: 330px;
	padding: 15px;
	margin: 0 auto;
}

.form-signin .form-signin-heading, .form-signin .checkbox {
	margin-bottom: 10px;
}

.form-signin .checkbox {
	font-weight: normal;
}

.form-signin .form-control {
	font-size: 16px;
	padding: 10px;
    /*
	position: relative;
	height: auto;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
    */
}

.form-signin .form-control:focus {
	z-index: 2;
}

.form-signin input[type="text"] {
	margin-bottom: -1px;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}

.form-signin input[type="password"] {
	margin-bottom: 10px;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}

.dp-x-sm{
	margin-top:5px;
}

.dp-sm{
	margin-top:10px;
}

.dp-md{
	margin-top:20px;
}

.dp-lg{
	margin-top:30px;
}

.dp-x-lg{
	margin-top:40px;
}

.tab-sm{
	margin-left:10px;
}

.tab-md{
	margin-right:20px;
}

.tab-lg{
	margin-left:30px;
}

.tab-x-lg{
	margin-left:40px;
}

.item-edit{
	font-size:13px;
	margin-left:10px;
}

.section
{
	background-color:#fff;
	padding: 20px 20px;
	position:relative;
    margin-top: 10px;
    border-radius: 4px;
    box-shadow: inset 0 1px 0 rgba(255,255,255,.15),0 1px 5px rgba(0,0,0,.075);
    border: solid 1px #e7e7e7;
}

.title
{
	text-transform:uppercase;
    margin-bottom: 1.5em;
}

.btn-add {
	/*font-weight:bold;*/
    margin: 5px 0;
    text-align: left;
}

.message ul{
	margin:0px auto;
	padding:0px auto;
}

h1.profile-title
{
    font-size: 36px;
    color: #666;
}

h1 small
{
    border-left: solid 2px;
    padding-left: 10px;
    margin-left: 20px;
}

/** BOOTSTRAP OVERRIDES **/
.popover-content
{
    font-size: 14px;
}

.dashboard .tab-pane
{
    margin-bottom: 30px;
}

.tab-pane #workexperience h4
{
    font-size: 15px;
}

.tab-pane #workexperience h3,
.tab-pane #workexperience h4,
.tab-pane #education h4,
.tab-pane #certification h4,
.tab-pane #membership h3,
.tab-pane #reference h3,
.tab-pane #profile h3
{
    margin-top: 0;
}

.tab-pane #profile h3
{
    color: #999;
    font-style: italic;
    font-size: 20px;
}

.applicant .section .navbar-nav,
.company .section .navbar-nav,
.admin .section .navbar-nav
{
    margin-top: 0.5em;
    border: solid 1px #e7e7e7;
    background-image: linear-gradient(to bottom,#fff 0,#f8f8f8 100%);
    background-repeat: repeat-x;
    box-shadow: inset 0 1px 0 rgba(255,255,255,.10),0 1px 5px rgba(0,0,0,.065);
}

.applicant .section .navbar-nav li>a,
.company .section .navbar-nav li>a,
.admin .section .navbar-nav li>a
{
    color: #333;
    padding-top: 7px;
    padding-bottom: 7px;
}

.create-job
{
    display:block;
    text-indent: -99999px;
    background: transparent url(../images/create_jobs_header1.png) no-repeat 0 0;
    height: 58px;
    margin:0;
    margin-bottom: -10px;
}

footer
{
    padding-top: 40px;
    border-top: solid 1px #e7e7e7;
    padding-bottom: 40px;
}

ul.steps
{
    list-style: none;
    list-style-type: none;
    list-style-image: none;
    padding: 0;
    margin: 0;
    background: white;
}

ul.steps li
{
    list-style: none;
    list-style-type: none;
    margin: 0;
    padding: 15px;
    display: inline-block;
    font-size: 16px;
    position: relative;
    height: 50px;
}

ul.steps li.first.active
{
    text-shadow: 1px 1px 2px rgba(150, 150, 150, 0.5);
    color: white;
    background-color: #7E5D3F;
}

ul.steps li.active.first:after
{
    content: "";
    border-bottom:solid 50px #7E5D3F;
    border-right: solid 50px transparent;
    height: 0;
    position: absolute;
    top: 0;
    left: 100%;
}

ul.steps li.last
{
    margin-left: 50px;
}

ul.steps li.last :before
{
    content: "";
    border-top: solid 50px white;
    border-left: solid 50px transparent;
    margin-left: -50px;
    height: 0;
}

ul#listings
{
    list-style: none;
    list-style-type: none;
    list-style-image: none;
    margin: 0;
    padding: 0;
}

ul#listings li
{
    list-style: none;
    list-style-type: none;
    list-style-image: none;
    margin: 0;
    padding: 0;
    border-bottom: 1px solid #e5e5e5;
    background: #fff;
}

ul#listings li > a
{
    text-decoration: none;
    display: block;
    color: #222;
    padding: 16px 13px 12px 13px;
}

ul#listings li > a > span
{
    min-height: 37px;
    display: block;
    position: relative;
}

ul#listings li img
{
    width: 32px;
    height: 32px;
    float: left;
    margin-right: 13px;
    position: static;
    top: auto;
    left: auto;
}

ul#listings li .role
{
    margin-right: 20px;
    width: 380px;
    float: left;
    position: relative;
}

ul#listings li .role h3
{
    position: static;
    top: auto;
    left: auto;
    width: auto;
    font-size: 16px;
    font-weight: 600;
    line-height: 1;
    margin-bottom: 4px;
    height: 18px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-top: 0;
}

ul#listings li .role h4
{
    font-weight: 600;
    color: #222;
    position: static;
    top: auto;
    left: auto;
    white-space: normal;
    overflow: visible;
    font-size: 12px;
    display: inline;
    text-overflow: ellipsis;
    margin-top: 0;
}

ul#listings li .role > span
{
    display: inline;
    margin-left: 0.5em;
    color: #888;
    font-size: 12px;
}

ul#listings li .location
{
    float: left;
    width: 145px;
    padding: 0 0 7px 13px;
    position: relative;
    top: auto;
    left: auto;
    text-align: left;
    color: #888;
    font-size: 12px;
}

ul#listings li .location:before
{
    color: #bbaaf;
    content: '';
    left: 0;
}

ul#listings li .meta
{
    position: relative;
    top: -1px;
    float: right;
    text-align: right;
    width: 120px;
}

ul#listings li .meta .type
{
    display: block;
    margin-bottom: 2px;
}


ul#listings li.full-time .type
{
    color: #e68a20;
    margin-bottom: 2px;
    font-weight: 600;
}

span.new
{
    color: #fff;
    background-color: #ff8f00;
    border-radius: 2px;
    padding: 1px 5px;
    text-transform: uppercase;
    font-size: 9px;
}

span.timestamp
{
    color: #999;
    font-size: 13px;
    font-style: italic;
}

p.help-block
{
    font-style: italic;
    font-size: 13px;
}

.opt-recruit label,
.opt-recruit a
{
    padding-left: 50px;
}

input#recruitment
{
    height: 40px;
    width: 40px;
    margin:0 15px 10px -50px;
}

.user-login
{
}

.company
{
    margin-bottom: 25px;
}

.company h2
{
    font-size: 30px;
    text-transform: none;
    margin-bottom: 4px;
    margin-top: 0;
    font-family: serif;
}

.company h3
{
    text-transform: none;
    margin-top: 3px;
    font-size: 16px;
    font-family: serif;
}

article.listing #leader
{
    margin-bottom: 40px;
}

.controls
{
    margin-top: 15px;
}


article.listing h1
{
    margin-top: 0;
}

article.listing .location
{
    font-style: italic;
}

#messages
{
    margin-top: 20px;
    margin-bottom: 25px;
}

.job-message
{
    position: relative;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 3px;
    margin-bottom: 15px;
}

.job-message:before
{
    position: absolute;
    top: 11px;
    left: -16px;
    right: 100%;
    width: 0;
    height: 0;
    display: block;
    content: " ";
    border-color: transparent;
    border-style: solid solid outset;
    pointer-events: none;
    border-right-color: #dddddd;
    border-width: 8px;
}

.job-message .meta
{
    padding: 10px 15px;
    color: #999;
    background-color: #f7f7f7;
    border-bottom: 1px solid #eee;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    font-size: 12px;
}

.job-message .meta .who
{
    font-weight: bold;
}

.job-message .comment-body:after
{
    border-width: 7px;
    border-right-color: #f7f7f7;
    margin-top: 1px;
    margin-left: 2px;
}

.job-message .comment-body
{
    padding: 15px;
}
