.title
{
    margin-bottom: 14px;
	text-transform:uppercase;
    font-size: 18px;
    font-weight: bold;
    text-decoration: underline;
}

.section
{
    border: solid 1px #d6d6d6;
    padding: 20px;
    margin: 10px;
    page-break-inside: avoid;
}

.form-group
{
    margin-bottom: 3px;
}

#health label
{
    display: inline;
    font-weight: normal;
}

#health label.off
{
    display: none;
}

#health label.on
{
    font-weight: bold
    text-decoration: underline;
    color: red;
}

input[disabled]
{
    display: none;
}

.btn
{
    border: none;
    text-align: left;
    padding: 0 25px 0 0;
    margin: 0;
    display: inline;
}
